@model EstateInvestmentWebApplication.Models.DatabaseEntitiesModel.EstateProject
@{
    ViewData["Title"] = "DetailEstate";
}

<div class="container">
    <div class="col-md-8 p-0">
        <h1>@Model.Title</h1>
        <div><p>Ngày tạo: @Model.CreateDate.ToString("d")</p></div>
        @Html.Raw(Model.Content)
    </div>
</div>