@model EstateInvestmentWebApplication.Models.ViewModels.CreateNewViewModel

@{
    ViewData["Title"] = "Tạo tin tức";
}

<div class="container">
    <h2>Tạo tin tức</h2>
    <hr />
    <form asp-action="CreateNew" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group required-field">
                    <label asp-for="Title" class="control-label">Tiêu đề:</label>
                    <input asp-for="Title" class="form-control" placeholder="Mời nhập tiêu đề tin tức" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group required-field">
                    <label asp-for="ShortDescription" class="control-label">Mô tả:</label>
                    <input asp-for="ShortDescription" class="form-control" placeholder="Mời nhập mô tả ngắn cho tin tức" />
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>
                <div class="form-group required-field">
                    <label asp-for="Image" class="control-label">Hình ảnh đại diện:</label>
                    <div class="file-upload">
                        @*<button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Thêm ảnh đại diện</button>*@
                        <div class="image-upload-wrap">
                            <input asp-for="Image" class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
                            <div class="drag-text">
                                <h3>Thêm ảnh đại diện cho tin tức</h3>
                            </div>
                        </div>
                        <div class="file-upload-content">
                            <img class="file-upload-image" src="#" alt="your image" />
                            <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload()" class="remove-image">Xóa <span class="image-title">Uploaded Image</span></button>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group required-field">
                    <label asp-for="Content" class="control-label">Nội dung:</label>
                    <textarea asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group d-flex justify-content-end">
            <input class="btn btn-primary py-2 px-4" type="submit" value="Tạo tin tức" />
        </div>
    </form>
    <div>
        <a asp-action="ListNew">Xem danh sách tin tức</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/ckeditor/ckeditor.js"></script>
<script>

    var editor = CKEDITOR.replace('Content', {
        filebrowserUploadUrl: '/EstateProject/UploadImage',
        filebrowserBrowseUrl: '/EstateProject/FileBrowser'
    });

    editor.on('fileUploadRequest', function (evt) {
        evt.data.requestData['imageFolder'] = 'imagescontent'
    });



    editor.on('dialogHide', function( evt ) {
        var widget = evt.data._;
        console.log("evt",evt)

          if ( widget && widget.name === 'image' && widget.element ) {
              widget.element.addClass('img-fluid');
              console.log("widget", widget)
          }

    });





</script>
